.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #FF5733 ;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}
     
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.toggleLayer {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 3rem;
    height: 3rem;
    background: #239B56;
    z-index: 1;
    border: none;
    outline-color: #FF5733;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 6px;
    border-radius: .25rem;
    opacity: .5;
    transition: opacity .5s;
}

.toggleLayer:hover {
    opacity: 1;
}